@model LibraryMangement.ViewModels.CustomerViewModel
<h2>No Customers Availble</h2>
<h2>Stat Adding a Customer Today</h2>

<a class="btn btn-success" style="margin: 10px" asp-controller="Customer" asp-action="Create">New Customer</a>
