@using LibraryMangement.Data.Models
@model LibraryMangement.Data.Models.Customer
<div  style="padding: 8px" class="row orderForm">
    
    <form asp-controller="Customer" asp-action="Edit" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Edit Customer : @Model.CustomerName</h3>
        @Html.HiddenFor(m=>Model.CustomerId)
        <div class="form-group">
            
            <label asp-for="CustomerName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                
                <input asp-for="CustomerName" class="form-group" placeholder="Enter Customer Name"/><br/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            
            <div class="btn-group col-md-offset-2 col-md-6">
                
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Customer" asp-action="Index" />
                <input class="btn btn-success" type="submit" value="Update"/>
             </div>
        </div>
        
    </form>
   
</div>